/* Universal Declarations */

html{
    background-color: white;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    display: flexbox;
}

a{
    background: none !important;
}

h2{
    font-size: 2.5rem;
    letter-spacing: 3px;
    color: #cc3333;
    border-bottom: 3px solid #6fa9db;
    max-width: fit-content;
}

p{
    font-size: 1.5rem;
    line-height: 1.6;
    letter-spacing: 1px;
}

h3{
    font-weight: bold;
    text-decoration: underline;
}

/* Header */

header{
    margin-top: -1rem;
    margin-left: -1%;
    width: 103%;
    height: 7rem;
    border-bottom: 1px whitesmoke solid;
    position: fixed;
    display: flex;
    z-index: 100;
    background-color: white;
}

header img {
    margin-left: 8rem;
    margin-top: 1rem;
    margin-bottom: .25rem;
    width: auto;
    height: 75%;
    align-self: center;
}

header nav{
    margin-top: 0.5rem;
    margin-left: 25rem;
    width: 50rem;
    justify-content: flex-end;
}

nav ul{
    display: inline-flex;
    width: 100%;
    margin-top: 2rem;
    justify-content: center;
    list-style: none;
    float: right;
}

nav ul li{
    margin-left: 2rem;
    padding-right: 3rem;
    font-size: 1.5rem;
}
nav a{
    color: black;
    text-decoration: none;
}

/* Mission Statement */

.section-statement  {
    width: 100%;
    padding-top: 7rem;
    height: 40rem;
    background-image: url('./resources/images/mission-statement-bg.jpeg');
    background-size: cover;
    background-position: top;
}

.statement-container{
    width: 100%;
    min-height: fit-content;
    /* border: 1px solid black; */
    display: block;
}

.statement-container h2{
    margin-left: 60%;
    text-decoration: underline;
    text-decoration-color: #6fa9db;
    text-decoration-thickness: 3px;
    text-underline-offset: 0.7rem;
    line-height: 1.6;
}

.statement-container h2,
.statement-container p{
    border-bottom: none;
    margin-left: 9%;
    padding-left: 1%;
    margin-right: 9%;
    padding-right: 1%;
    align-self: center;
    background-color: rgba(255, 255, 255, 0.8);
}

/* Products */

.section-products{
    width: auto;
    margin: 0 10%;
    display: flexbox
}

.section-products .products-container{
    height: auto;
}

.section-products .title h3{
    font-style: italic;
    margin-top: -1rem;
    letter-spacing: 0.1rem;
}

.product-images{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

div .image-container{
    display: flex;
    padding: 0%;
    justify-content: center;
    margin: 1px;
}

.product-images .image-container h3{
    font-style: bold;
    flex-wrap: wrap;
    width: 10rem;
    align-self: center;
    padding: 0;
    margin: 0;
}

.product-images .image-container img{
    height: 100%;
    width: auto;
    align-self: center;
    margin-right: .5rem;
}

/* Team Section */

.team-header{
    text-align: center;
    display: flex;
    justify-content: center;
}

.role-image{
    width: 60%;
    padding: 0 20%;
    display: flex;
    justify-content: center;
}

.role-section{
    display: block;
    text-align: center;
    padding-bottom: 2rem;
}

.team-images-container .member-container img{
    height: 30rem;
    width: 30rem;
    border-radius: 50%;
}

.member-container h3,
.member-container h4{
    position: relative;
    height: fit-content;
}

.member-container{
    margin-bottom: 2rem;
}

/* Footer */

footer{
    border-top: 3px solid whitesmoke;
    display: flexbox;
    margin-top: 5%;
}

footer *{
    text-align: center;
}

.footer-logo{
    display: flex;
    justify-content: center;
}

.footer-logo img{
    height: 7rem;  
}